<header class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="American Remodeling Enterprises Logo" height="40" class="d-inline-block align-top me-2">
      <span class="d-none d-md-inline">HR Onboarding Portal</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/policies/' %}active{% endif %}" href="{{ '/policies/' | relative_url }}">Policies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/trainings/' %}active{% endif %}" href="{{ '/trainings/' | relative_url }}">Trainings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/forms/' %}active{% endif %}" href="{{ '/forms/' | relative_url }}">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/help/' %}active{% endif %}" href="{{ '/help/' | relative_url }}">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="logout-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>

